/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*#899CA0 Grey*/
/*#1C2B32 Dark green*/

/*CSS RESET*/

/*https://www.joshwcomeau.com/css/custom-css-reset/*/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* 10. Create a root stacking context */
#root, #__next {
    isolation: isolate;
}

/*////////////////////////
    1. Global Styles
////////////////////////*/

.txt-center {
    text-align: center;
}

section#header > * {
    margin: auto;
    text-align: center;
}

.border-m {
    border-radius: 1rem;
}
/*////////////////////////
    2. Typography
////////////////////////*/

* {
    font-family: "Poppins", sans-serif;
}


h2 {
    margin: 2rem 0;
}

.txt-green {
    color: hsl(199, 28%, 15%);
}

/*
 * Generated by clampgenerator.com
 * Font size: 16px to 20px
 * Viewport: 320vw to 1000vw
 */

html { font-size: 11px; }

/* Font Family Setup */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.mast {
    margin: 2rem 0 0.5rem;
}

/* Typography Sizes */
h1, .cg-h1 {
    font-size: clamp(6.8rem, calc(2.635rem + 1.756vw), 3.73rem);
}

/*h1, .cg-h1 {*/
/*    font-size: clamp(2.99rem, calc(2.635rem + 1.756vw), 3.73rem);*/
/*}*/

h2, .cg-h5 {
    font-size: clamp(1.44rem, calc(1.271rem + 0.847vw), 1.80rem);
}

body, .cg-base {
    font-size: clamp(1.00rem, calc(0.882rem + 0.588vw), 1.25rem);
}

small, .cg-small {
    font-size: clamp(0.83rem, calc(0.735rem + 0.490vw), 1.04rem);
}

/*////////////////////////
    3. Areas
////////////////////////*/

body {
    margin: auto;
    padding: 0;
    max-width: 1000px;
}

main {
    > * {
        max-width: 68%;
        margin: auto;
    }
    > section {
        padding-top: 2rem;
    }
}

footer {
    color: white;
    background-color: hsl(199, 28%, 15%);
    padding: 1.5rem;
    margin-top: 2rem;
}

/*///////////// 3.1 Header /////////////*/

header > section#header {
    background-image: url("../assets/images/mountains.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 22.5%;
    > h1 {
        padding: 2rem 0 0;
    }
    > p, div {
        padding: 0.5rem 0;
    }
}

.form-hdr {
    /*padding: 1rem 0;*/
    /*border-radius: 50%;*/
    /*border-color: hsl(199, 28%, 15%);*/
    /*margin: auto;*/
    > * {
        border-color: hsl(199, 28%, 15%);
        padding: 1.5rem;
    }
}

.input-hdr {
    background-color: transparent;
    border-radius: 3rem 0 0 3rem;
}

.btn-hdr {
    background-color: hsl(199, 28%, 15%);
    color: white;
    border-radius: 0 3rem 3rem 0;
}

/*///////////// 3.2 Testimonial /////////////*/

.attest {
    margin: 3rem;
    padding: 3rem 7rem;
    border: 0 solid #ff007f;
    border-radius: 1rem;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.16)
}

.attest {
    background-image: url("../assets/icons/quote-left.png");
    background-repeat: no-repeat;
    background-position: top 3rem left 4rem;
    background-size: 1.8rem;
}

blockquote {
    padding-bottom: 2rem;
}

div.person {
    display: flex;
    align-items: center;
    img {
        max-width: 44px;
        max-height: 44px;
    }
    span {
        padding-left: 1rem;
    }
}


/*///////////// 3.3 Support /////////////*/

/*.s-support > * {*/
/*    padding: 1rem 0;*/
/*}*/

.btn-contact {
    background-color: hsl(199, 28%, 15%);
    color: white;
    padding: 2rem 2rem;
    border-radius: 3rem;
}

/*///////////// 3.4 Faq /////////////*/
details {
    margin: 2rem 0;
}

details > summary {
    cursor: pointer;
}

details > p {
    background-color: hsl(199, 14%, 50%);
    color: white;
    padding: 2rem 3rem;
    margin: 1rem 0;
}


/*///////////// 3.5 Footer /////////////*/